@import "bootstrap";
/* This file is for your main application css. */
.googleMaps {
  top: 0;
  left:0;
  text-align: center;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 0;
    background-color: #f8f8f8;
}

.buttonPanel {
  position: fixed;
  padding:30px;
  bottom: 0;
  right: 25%;
}


.attackNotifications {
  position: fixed;
  bottom: 0;
  left:20%;
  width: 50%;
  height: 50%;
}
.attackProgressBar {
  top: 0;
  position: fixed;
  width: 50%;
  text-align: center;
  z-index: 1;
  background-color: black;
}

#defendBtn {
    margin-left:5px;
}

#chatPage {
  height:90%;
  top:0;
}
#chatBox {
  padding-left:5%;
  width:100%;
  text-align: center;
  height:10%;
}
#chatText {
  width: 70%;
}
#chatSend {
  margin-left:10px;
}
